.Routes {
    border: none;
    border-bottom: 1px solid var(--Grey);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    padding: 0.5rem 2rem;
    width: 850px;
}
.Link {
    color: var(--Color);
    font-size: 18px;
    text-decoration: none;
}
.Paths {
    font-weight: bold;
}

@media (max-width:768px) {
    .Routes {
        margin-top: 1.5rem;
        width: 760px;
    }
}

@media (max-width:428px) {
    .Routes {
        width: 420px;
    }
}

@media (max-width:375px) {
    .Routes {
        width: 375px;
    }
}