.Home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 3rem;
    margin: auto;
    margin-bottom: 2rem;
    width: 1300px;
}
.Home section:first-child {
    width: 650px;
}
.Home section:first-child h2 {
    font-family: 'Instrument Serif', serif;
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}
.Greet {
    padding-top: 1rem;
    margin-left: 0.5rem;
}
.Home section:first-child p {
    font-family: 'Instrument Serif', serif;
    font-size: 20px;
}
.Home div {
    display: flex; 
    flex-direction: row;
    column-gap: 1.5rem;
    margin-top: 1.5rem;
}
.Home div button {
    background-color: var(--Color) ;
    border: none;
    border-radius: 2px;
    color: var(--Background-color);
    cursor: pointer;
    font-family: 'Instrument Serif', serif;
    font-size: 16px;
    padding: 0.5rem 1.1rem;
    width: 120px; 
}
.Home div a {
    color: var(--Color);
    font-size: 18px;
    text-decoration: none;
}
.Home section:last-child img {
    border-radius: 10px;
    height: 270px;
    width: 270px;
}

@media (max-width:768px) {
    .Home {
        margin-top: 1.5rem;
        width: 760px;
    }
    .Home section:first-child {
        width: 400px; 
    }
}

@media (max-width:428px) {
    .Home {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        row-gap: 1.5rem;
        text-align: center;
        width: 420px;
    }
    .Home section:first-child {
        width: 400px; 
    }
    .Home section:first-child div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:375px) {
    .Home {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        row-gap: 1.5rem;
        text-align: center;
        width: 370px;
    }
    .Home section:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px; 
    }
    .Home section:first-child p {
        width: 350px;
    }
    .Home section:first-child div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}