.Footer {
    border-top: 1px solid var(--Grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    padding-bottom: 1.5rem;
}
.Footer button {
    background-color: var(--Background-color);
    border: none;
}
.Icon {
    color: var(--Color);
    cursor: pointer;
    margin-top: 1rem;
}

@media (max-width:768px) {
    .Footer {
        margin: auto;
        padding-bottom: 1rem;
        width: 750px;
    }
}

@media (max-width:428px) {
    .Footer {
        margin: auto;
        padding-bottom: 2rem;
        width: 428px;
    }
}

@media (max-width:375px) {
    .Footer {
        margin: auto;
        padding-bottom: 2rem;
        width: 375px;
    }
}