@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-thumb {
  background-color:white;
}
html::-webkit-scrollbar-track {
  background-color: black;
}
body {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
}
:root {
  --Background-color: black;
  --Color: white;
}
.Dark-Theme {
  --Background-color: black;
  --Color: white;
  --Grey: rgba(128, 128, 128, 0.226);
}
.Light-Theme {
  --Background-color: white;
  --Color: black;
  --Grey: rgba(0, 0, 0, 0.45);
}
.App {
  background-color: var(--Background-color);
  color: var(--Color);
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  height: 100%;
}
.App article {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

@media (max-width:768px) {
  .App {
    overflow-x: hidden;
    width: 768px;
  }
  .App article {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media (max-width:428px) {
  .App {
    overflow-x: hidden;
    width: 428px;
  }
  .App article {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media (max-width:375px) {
  .App {
    overflow-x: hidden;
    width: 375px;
  }
  .App article {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}